<%- include("../partials/header") %>
<!-- tabela com filmes -->
<div>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <!-- comando para puxar do banco as informações -->
      <% movies.forEach(({dataValues: {poster, director, genre, launch, name,
      actor, description, rate}}) => { %>
      <tr>
        <!-- botão que transforma poster em modal -->
        <td>
          <button
            type="button"
            class="btn btn-outline-secondary"
            data-toggle="modal"
            data-target="#modalPoster"
          >
            <!-- puxa o poster do banco -->
            <img src="<%= poster %>" class="poster" />
          </button>
        </td>
        <!-- modal -->
        <div
          class="modal fade"
          id="modalPoster"
          tabindex="-1"
          role="dialog"
          aria-labelledby="modalPosterLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header table-striped table-dark">
                <h5 class="modal-title table-dark" id="modalPosterLabel">
                  Visualizar Filme
                </h5>
              </div>
              <!-- modal body -->
              <div class="modal-body table-striped table-dark">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-dark">
                    <%= name %>
                  </li>
                  <li class="list-group-item list-group-item-dark">
                    <img src="<%= poster %>" class="modalPoster" />
                  </li>
                  <li class="list-group-item list-group-item-dark">
                    Sinopse: <%= description %>
                  </li>
                  <li class="list-group-item list-group-item-dark">
                    Diretor: <%= director %>
                  </li>
                  <li class="list-group-item list-group-item-dark">
                    Atores: <%= actor %>
                  </li>
                  <li class="list-group-item list-group-item-dark">
                    Gênero: <%= genre %>
                  </li>
                  <li class="list-group-item list-group-item-dark">
                    Nota: <%= rate %>
                  </li>
                  <li class="list-group-item list-group-item-dark">
                    Lançamento: <%= launch %>
                  </li>
                </ul>
              </div>
              <!-- modal footer -->
              <div class="modal-footer table-dark">
                <div class="center">
                  <button
                    type="button"
                    class="btn btn-outline-light"
                    data-dismiss="modal"
                    aria-label="Fechar"
                  >
                    Fechar
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-warning"
                    type="submit"
                  >
                    Alterar
                  </button>

                  <button
                    type="submit"
                    class="btn btn-outline-danger"
                    id="destroy"
                    value="Deletar"
                  >
                    Deletar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- titulo -->
        <td class="nomeFilme"><%= name %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include("../partials/footer") %>
