<%- include("../partials/header") %>
<!-- tabela com filmes -->
<div>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Poster</th>
        <th scope="col">Titulo</th>
        <th scope="col">Sinopse</th>
        <th scope="col">Diretor</th>
        <th scope="col">Nota</th>
      </tr>
    </thead>
    <tbody>
      <% movies.forEach(({dataValues: {poster, director, name, description, rate}}) => { %>
      <tr>
        <!-- poster -->
        <td><img src=<%= poster %> class="poster"></td>
        <!-- titulo -->
        <td><%= name %></td>
        <!-- sinopse -->
        <td><%= description %></td>
        <!-- diretor -->
        <td><%= director %></td>
        <!-- nota -->
        <td><%= rate %></td>
        <td>
          
          <td><button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Alterar</button>
          </td>
          
          <td><button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Excluir</button>
          </td>
        </td>
      </tr> 
      <% }) %>
    </tbody>
  </table>
</div>

<%- include("../partials/footer") %>